Blazor-SqlLite-DevOps/.vs/
Blazor-SqlLite-DevOps/Blazor SqlLite Golf Club/bin/
Blazor-SqlLite-DevOps/Blazor SqlLite Golf Club/obj/
Blazor-SqlLite-DevOps/Blazor SqlLite Golf Club/Database/database.db-shm
Blazor-SqlLite-DevOps/Blazor SqlLite Golf Club/Database/database.db-wal