# Ignore all workflows including this
/.github/workflows/

# Ignore Visual Studio Code settings directory
/.vscode/
/.vs/

# Ignore databases
/development/Blazor-SqlLite-DevOps/Blazor\ SqlLite\ Golf\ Club/Database/
/staging/Blazor-SqlLite-DevOps/Blazor\ SqlLite\ Golf\ Club/Database/
/production/Blazor-SqlLite-DevOps/Blazor\ SqlLite\ Golf\ Club/Database/

# Except database.db file
!/development/Blazor-SqlLite-DevOps/Blazor\ SqlLite\ Golf\ Club/Database/database.db
!/staging/Blazor-SqlLite-DevOps/Blazor\ SqlLite\ Golf\ Club/Database/database.db
!/production/Blazor-SqlLite-DevOps/Blazor\ SqlLite\ Golf\ Club/Database/database.db

# Ignore bin and obj directories
/development/Blazor-SqlLite-DevOps/Blazor\ SqlLite\ Golf\ Club/bin/
/development/Blazor-SqlLite-DevOps/Blazor\ SqlLite\ Golf\ Club/obj/
/staging/Blazor-SqlLite-DevOps/Blazor\ SqlLite\ Golf\ Club/bin/
/staging/Blazor-SqlLite-DevOps/Blazor\ SqlLite\ Golf\ Club/obj/
/production/Blazor-SqlLite-DevOps/Blazor\ SqlLite\ Golf\ Club/bin/
/production/Blazor-SqlLite-DevOps/Blazor\ SqlLite\ Golf\ Club/obj/

# Ignore specific files
/development/Blazor-SqlLite-DevOps/Blazor\ SqlLite\ Golf\ Club/Blazor SqlLite Golf Club.csproj.user
/staging/Blazor-SqlLite-DevOps/Blazor\ SqlLite\ Golf\ Club/Blazor SqlLite Golf Club.csproj.user
/production/Blazor-SqlLite-DevOps/Blazor\ SqlLite\ Golf\ Club/Blazor SqlLite Golf Club.csproj.user

# Ignore specific script files
/scripts/sparse_checkout_env.bat
