---
name: "SHA Commit Verification and Report"

# Reports on the initial SHA push

# Exit Codes
# 1: SHA checkout FAIL
# 2: SHA_BRANCH does not exist in repository
# 3: Failure locating .csproj file
# 4: Failure reading report.txt logfile
# 5: Failed retries to trigger next workflow using curl
# 6: Failed to trigger next workflow. HTTP Code: not success

concurrency:
    group: report-${{ github.sha }}
    cancel-in-progress: true

on:
  push:
    branches: ["code-development", "code-production", "code-staging"]

jobs:
  report-usage:
    name: "Report Usage"
    runs-on: ubuntu-latest
    timeout-minutes: 15
    if: (github.actor != 'CodeApprover')

    steps:

    - name: Setup and Description
      run: |
        desc="## [INFO] # This workflow is triggered on branches: code-development, code-production, and code-staging. "
        desc+="Its main functions are to validate the commit SHA, branch name, and the .csproj file path. "
        desc+="Post validation, it provides a report and can trigger the 'trigger-cache-dependencies' workflow. "
        desc+="Note: This workflow doesn't run if initiated by 'CodeApprover'."

        logger=${{ github.workspace }}/report.txt
        echo "$logger" >> $GITHUB_ENV
        echo "$desc" > $logger

    - name: Checkout SHA Repository
      id: checkout-sha
      uses: actions/checkout@v3.5.3
      with:
        ref: ${{ github.sha }}
        fetch-depth: 1

    - name: Validate SHA
      run: |
        echo "## [INFO] # Validating SHA checkout." >> ${{ env.logger }}
        if [[ "${{ steps.checkout-sha.outcome }}" == "failure" ]]; then
          echo "## [ERROR] # SHA checkout FAIL for ${{ github.sha }} --> Exit 1" >> ${{ env.logger }}
          exit 1
        else:
          echo "## [INFO] # SHA checkout success for ${{ github.sha }}." >> ${{ env.logger }}
          echo "## [INFO] # Setting GITHUB_ENV for SHA to ${{ github.sha }}." >> ${{ env.logger }}
          echo "SHA=${{ github.sha }}" >> $GITHUB_ENV
        fi

    - name: Validate SHA Branch
      run: |
        echo "## [INFO] # Validating SHA branch name."
        branch=$(echo "${{ github.ref }}" | sed "s#refs/heads/##")
        echo "SHA_BRANCH=$branch" >> $GITHUB_ENV
        if git show-ref --verify --quiet "refs/remotes/origin/$branch"; then
          echo "## [DEBUG] # Branch $branch detected in ${{ github.repository }}"
        else
          echo "## [DEBUG] # Checked branch: $branch"
          echo "## [DEBUG] # Expected SHA_BRANCH from environment: $SHA_BRANCH"
          echo "## [DEBUG] # Current Branch and HEAD Commit: $(git rev-parse --abbrev-ref HEAD) @ $(git rev-parse HEAD)"
          echo "## [DEBUG] # List of All References:"
          git show-ref
          echo "## [DEBUG] # List of All Branches (Local and Remote):"
          git branch -a
          echo "## [ERROR] # SHA_BRANCH does not exist in ${{ github.repository }} --> Exit 2"
          exit 2
        fi

    - name: Validate .csproj
      run: |
        echo "## [INFO] # Validating .csproj file." >> ${{ env.logger }}
        DIR_PATH="${{ github.workspace }}/$(echo "${{ env.SHA_BRANCH }}" | sed 's/^code-//')/${{ secrets.PROJECT_NAME }}"
        CSPROJ=$(find "$DIR_PATH" -name "*.csproj" -type f)
        echo "## [DEBUG] # Searching for .csproj in directory: $DIR_PATH" >> ${{ env.logger }}
        echo "## [DEBUG] # Located .csproj file at: $CSPROJ" >> ${{ env.logger }}
        if [[ ! -f "$CSPROJ" ]]; then
          echo "## [DEBUG] # Directory contents of $DIR_PATH:" >> ${{ env.logger }}
          ls -la "$DIR_PATH" >> ${{ env.logger }}
          echo "## [ERROR] # Failure locating .csproj file within the directory $DIR_PATH --> Exit 3" >> ${{ env.logger }}
          exit 3
        else
          echo "## [INFO] # Setting GITHUB_ENV for .csproj file to $CSPROJ" >> ${{ env.logger }}
          echo "CSPROJ=$CSPROJ" >> $GITHUB_ENV
        fi

    - name: Log Commit Details
      run: |
        echo "-------------------------------------------------" >> ${{ env.logger }}
        echo "----- COMMIT DETAILS ----------------------------" >> ${{ env.logger }}
        echo "-------------------------------------------------" >> ${{ env.logger }}
        echo "Branch Name: ${{ env.SHA_BRANCH }}" >> ${{ env.logger }}
        echo "Commit SHA: ${{ github.sha }}" >> ${{ env.logger }}
        echo "Commit Message: ${{ github.event.head_commit.message }}" >> ${{ env.logger }}
        echo "Commit Author: ${{ github.event.head_commit.author.name }}" >> ${{ env.logger }}
        echo "Committer Email: ${{ github.event.head_commit.author.email }}" >> ${{ env.logger }}
        echo "Pusher Name: ${{ github.event.pusher.name }}" >> ${{ env.logger }}
        echo "Actor: ${{ github.actor }}" >> ${{ env.logger }}

        echo "-------------------------------------------------" >> ${{ env.logger }}
        echo "----- GITHUB ENVIRONMENT & WORKFLOW DETAILS -----" >> ${{ env.logger }}
        echo "-------------------------------------------------" >> ${{ env.logger }}
        echo "Date: $(date)" >> ${{ env.logger }}
        echo "Event Name: ${{ github.event_name }}" >> ${{ env.logger }}
        echo "Ref: ${{ github.ref }}" >> ${{ env.logger }}
        echo "Repository: ${{ github.repository }}" >> ${{ env.logger }}
        echo "Repository Owner: ${{ github.repository_owner }}" >> ${{ env.logger }}
        echo "Workflow Name: ${{ github.workflow }}" >> ${{ env.logger }}
        echo "GitHub Server URL: ${{ github.server_url }}" >> ${{ env.logger }}
        echo "GitHub API URL: ${{ github.api_url }}" >> ${{ env.logger }}
        echo "GitHub GraphQL URL: ${{ github.graphql_url }}" >> ${{ env.logger }}
        echo "Runner OS: ${{ runner.os }}" >> ${{ env.logger }}
        echo "Workspace: ${{ github.workspace }}" >> ${{ env.logger }}
        [ ! -z "${{ github.base_ref }}" ] && echo "Base Ref: ${{ github.base_ref }}" >> ${{ env.logger }}
        [ ! -z "${{ github.head_ref }}" ] && echo "Head Ref: ${{ github.head_ref }}" >> ${{ env.logger }}

        echo "-------------------------------------------------" >> ${{ env.logger }}
        echo "----- JOB, RUN AND RUNNER DETAILS ---------------" >> ${{ env.logger }}
        echo "-------------------------------------------------" >> ${{ env.logger }}
        echo "Job Name: ${{ github.job }}" >> ${{ env.logger }}
        echo "Event ID: ${{ github.run_id }}" >> ${{ env.logger }}
        echo "Run Number: ${{ github.run_number }}" >> ${{ env.logger }}
        echo "Runner Name: ${{ runner.name }}" >> ${{ env.logger }}
        echo "Runner Label: ${{ runner.label }}" >> ${{ env.logger }}
        echo "Runner Tool Cache: ${{ runner.tool_cache }}" >> ${{ env.logger }}
        echo "Runner Temp Directory: ${{ runner.temp }}" >> ${{ env.logger }}
        echo "GitHub Event Before: ${{ github.event.before }}" >> ${{ env.logger }}
        echo "GitHub Event After: ${{ github.event.after }}" >> ${{ env.logger }}
        echo "---------------------------------------" >> ${{ env.logger }}

    - name: Check and Display Report
      run: |
        if [[ ! -f "${{ env.logger }}" ]] || [[ ! -s "${{ env.logger }}" ]]; then
          echo "## [ERROR] # report.txt does not exist. Exiting " >> ${{ env.logger }}
          echo "## [ERROR] # Failure reading report.txt file --> Exit 4" >> ${{ env.logger }}
          exit 4
        else
          echo "## [INFO] # Content of report.txt:" >> ${{ env.logger }}
          cat "$GITHUB_WORKSPACE/report.txt"
        fi

    - name: Upload Report as Artifact
      uses: actions/upload-artifact@v3
      with:
        name: commit-report
        path: ${{ env.logger }}

    - name: Cleanup Redundant Tags and Files
      run: |
        # Delete old tags skipping 12 most recent
        DELETE_TAGS=$(git tag -l | head -n -12)
        for TAG in $DELETE_TAGS; do
            git tag -d $TAG
            git push origin --delete $TAG
        done
        rm -f "${{ env.logger }}"

    - name: Trigger Next Workflow
      if: success()
      run: |
        trigger="trigger-cache-dependencies"
        echo "## [INFO] # Triggering next workflow using $trigger." >> ${{ env.logger }}
        
        # Constants
        REPO_ENDPOINT="https://api.github.com/repos/${{ github.repository }}/dispatches"
        AUTH_HEADER="Authorization: Bearer ${{ secrets.AUTH }}"
        ACCEPT_HEADER="Accept: application/vnd.github.v3+json"
        MAX_RETRIES=${{ secrets.MAX_RETRIES }}
        
        # Setup Payload for next workflow
        BASE="{\"event_type\": \"$trigger\", \"client_payload\": {"
        SHA="\"sha\": \"${{ env.SHA }}\""
        CSPROJ="\"csproj\": \"${{ env.CSPROJ }}\""
        BRANCH="\"branch_name\": \"${{ env.SHA_BRANCH }}\""
        PAYLOAD="${BASE},${SHA},${CSPROJ},${BRANCH}}"
        
        CMD=(
            curl -s -o /dev/null -w "%{http_code}" 
            -X POST 
            -H "$AUTH_HEADER"
            -H "$ACCEPT_HEADER"
            -d "$PAYLOAD"
            "$REPO_ENDPOINT"
        )

        # Retry mechanism
        retries=0
        max=${{ secrets.MAX_RETRIES }}
        until [[ $retries -ge $max ]]
        do
            RESPONSE=$("${CMD[@]}") 
            if [[ $RESPONSE -ge 200 && $RESPONSE -le 206 ]]; then
                echo "## [INFO] # Successfully triggered workflow $trigger on attempt $((retries+1))" >> ${{ env.logger }}
                break
            fi
            echo "## [WARN] # Attempt $((retries+1))/$max failed with response code $RESPONSE. Retrying in 5 seconds..." >> ${{ env.logger }}
            retries=$((retries+1))
            sleep 5
        done
        
        if [[ $retries -eq $max ]]; then 
            echo "## [DEBUG] # $CMD"
            echo "## [ERROR] # Failed $max retries triggering next workflow using curl --> Exit 5" >> ${{ env.logger }}
            exit 5
        elif [[ $RESPONSE -lt 200 || $RESPONSE -gt 206 ]]; then
            echo "## [ERROR] # Failed to trigger next workflow. HTTP Code $RESPONSE non success response to $trigger --> Exit 6" >> ${{ env.logger }}
            exit 6
        fi
