---
name: "SHA Commit Verification and Report"

# Reports on the initial SHA push

# Exit Codes
# 30 - SHA checkout FAIL
# 31 - SHA_BRANCH does not exist in repository
# 32 - Failure locating .csproj file
# 33 - Failed retries to trigger next workflow using curl
# 34 - Failed to trigger next workflow HTTP response non success

concurrency:
    group: report-${{ github.sha }}
    cancel-in-progress: true

on:
  push:
    branches: ["code-development", "code-production", "code-staging"]

jobs:
  report-usage:
    name: "Report Usage"
    runs-on: ubuntu-latest
    timeout-minutes: 15
    if: (github.actor != 'CodeApprover')

    steps:

    - name: Setup and Description
      run: |
        desc="This workflow is triggered on branches code-development, code-production, and code-staging. "
        desc+="Its main functions are to validate the commit SHA, branch name, and the .csproj file path. "
        desc+="Post validation, it provides a report and can trigger the 'trigger-cache-dependencies' workflow. "
        desc+="Note this workflow doesn't run if initiated by DevOps maintainer 'CodeApprover'."

        echo "##[info] $(date) ${{ github.workflow }} commit SHA ${{ github.sha }}"
        echo $desc

        echo "##[info] Setting GITHUB_ENV for PROJECT to ${{ env.PROJECT_NAME }}."
        echo "PROJECT=${{ env.PROJECT_NAME }}" >> $GITHUB_ENV

    - name: Checkout SHA Repository
      # Checking out the repository using the commit SHA.
      id: checkout-sha
      uses: actions/checkout@v3.5.3
      with:
        ref: ${{ github.sha }}
        fetch-depth: 0 # deep clone

    - name: Validate SHA
      run: |
        echo "##[info] Validating SHA checkout."
        if [[ "${{ steps.checkout-sha.outcome }}" == "failure" ]]; then
            echo "##[error] SHA checkout FAIL for ${{ github.sha }} --> Exit 30"
            exit 30
        fi
        echo "##[info] SHA checkout success for ${{ github.sha }}."
        echo "##[info] Setting GITHUB_ENV for SHA to ${{ github.sha }}."
        echo "SHA=${{ github.sha }}" >> $GITHUB_ENV

    - name: Validate SHA Branch
      run: |
        echo "##[info] Validating SHA branch name."

        echo "##[info] Extracting branch name from github ref."
        branch=$(echo "${{ github.ref }}" | sed "s#refs/heads/##")
        echo "##[info] Detected branch as $branch"

        echo "##[info] Checking if branch exists in the remote repository."
        if git show-ref --verify --quiet "refs/remotes/origin/$branch"; then
            echo "##[info] Branch $branch detected in ${{ github.repository }}"
        else
            echo "##[debug] Current Branch and HEAD Commit $(git rev-parse --abbrev-ref HEAD) @ $(git rev-parse HEAD)"
            echo "##[debug] List of All Branches (Local and Remote)"
            git branch -a
            echo "##[error] Branch $branch does not exist in ${{ github.repository }} --> Exit 31"
            exit 31
        fi
        
        echo "##[info] Setting GITHUB_ENV for SHA_BRANCH to $branch for future steps."
        echo "SHA_BRANCH=$branch" >> $GITHUB_ENV

    - name: Validate .csproj
      run: |
        echo "##[info] Validating .csproj file."
        DIR_PATH="${{ github.workspace }}/$(echo "${{ env.SHA_BRANCH }}" | sed 's/^code-//')/${{ env.PROJECT }}"
        CSPROJ="${DIR_PATH}/${{ env.PROJECT }}.csproj"
        echo "##[info] Checking .csproj file as $CSPROJ"
        if [[ ! -f "$CSPROJ" ]]; then
            echo "##[debug] Directory contents of $DIR_PATH"
            ls -la "$DIR_PATH"
            echo "##[error] Failure locating .csproj file within the directory $DIR_PATH --> Exit 32"
            exit 32
        fi
        echo "##[info] Setting GITHUB_ENV for .csproj file to $CSPROJ"
        echo "CSPROJ=$CSPROJ" >> $GITHUB_ENV

    - name: Report Commit Details
      run: |
        echo "##[info] Logging details of the commit, GitHub environment and runner specifics."

        echo "-------------------------------------------------"
        echo "----- COMMIT DETAILS ----------------------------"
        echo "-------------------------------------------------"
        echo "Branch Name ${{ env.SHA_BRANCH }}"
        echo "Commit SHA ${{ github.sha }}"
        echo "Commit Message ${{ github.event.head_commit.message }}"
        echo "Commit Author ${{ github.event.head_commit.author.name }}"
        echo "Committer Email ${{ github.event.head_commit.author.email }}"
        echo "Pusher Name ${{ github.event.pusher.name }}"
        echo "Actor ${{ github.actor }}"

        echo "-------------------------------------------------"
        echo "----- GITHUB ENVIRONMENT & WORKFLOW DETAILS -----"
        echo "-------------------------------------------------"
        echo "Date $(date)"
        echo "Event Name ${{ github.event_name }}"
        echo "Ref ${{ github.ref }}"
        echo "Repository ${{ github.repository }}"
        echo "Repository Owner ${{ github.repository_owner }}"
        echo "Workflow Name ${{ github.workflow }}"
        echo "GitHub Server URL ${{ github.server_url }}"
        echo "GitHub API URL ${{ github.api_url }}"
        echo "GitHub GraphQL URL ${{ github.graphql_url }}"
        echo "Runner OS ${{ runner.os }}"
        echo "Workspace ${{ github.workspace }}"
        [ ! -z "${{ github.base_ref }}" ] && echo "Base Ref ${{ github.base_ref }}"
        [ ! -z "${{ github.head_ref }}" ] && echo "Head Ref ${{ github.head_ref }}"

        echo "-------------------------------------------------"
        echo "----- JOB, RUN AND RUNNER DETAILS ---------------"
        echo "-------------------------------------------------"
        echo "Job Name ${{ github.job }}"
        echo "Event ID ${{ github.run_id }}"
        echo "Run Number ${{ github.run_number }}"
        echo "Runner Name ${{ runner.name }}"
        echo "Runner Label ${{ runner.label }}"
        echo "Runner Tool Cache ${{ runner.tool_cache }}"
        echo "Runner Temp Directory ${{ runner.temp }}"
        echo "GitHub Event Before ${{ github.event.before }}"
        echo "GitHub Event After ${{ github.event.after }}"
        echo "---------------------------------------"

    - name: Cleanup Redundant Tags
      run: |
        echo "##[info] Deleting old tags skipping 12 most recent"
        DELETE_TAGS=$(git tag -l | head -n -12)
        for TAG in $DELETE_TAGS; do
            git tag -d $TAG
            git push origin --delete $TAG
        done

    - name: Trigger Next Workflow
      if: success()
      run: |
        trigger="trigger-cache-dependencies"
        echo "##[info] Triggering $trigger workflow with retries."
        
        # Constants
        REPO_ENDPOINT="https://api.github.com/repos/${{ github.repository }}/dispatches"
        AUTH_HEADER="Authorization: Bearer ${{ secrets.AUTH }}"
        ACCEPT_HEADER="Accept: application/vnd.github.v3+json"
        MAX_RETRIES=${{ env.MAX_RETRIES }}
        
        # Setup Payload for next workflow
        BASE="{\"event_type\": \"$trigger\", \"client_payload\": {"
        SHA="\"sha\": \"${{ env.SHA }}\""
        CSPROJ="\"csproj\": \"${{ env.CSPROJ }}\""
        BRANCH="\"branch_name\": \"${{ env.SHA_BRANCH }}\""
        PAYLOAD="${BASE},${SHA},${CSPROJ},${BRANCH}}"
        
        CMD=(
            curl -s -o /dev/null -w "%{http_code}" 
            -X POST 
            -H "$AUTH_HEADER"
            -H "$ACCEPT_HEADER"
            -d "$PAYLOAD"
            "$REPO_ENDPOINT"
        )

        # Retry mechanism
        retries=0
        max=${{ env.MAX_RETRIES }}
        until [[ $retries -ge $max ]]
        do
            RESPONSE=$("${CMD[@]}") 
            if [[ $RESPONSE -ge 200 && $RESPONSE -le 206 ]]; then
                echo "##[info] Successfully triggered workflow $trigger on attempt $((retries+1))"
                break
            fi
            echo "##[warn] Attempt $((retries+1))/$max failed with response code $RESPONSE. Retrying in $max seconds..."
            retries=$((retries+1))
            sleep 5
        done
        
        if [[ $retries -eq $max ]]; then 
            echo "##[debug] $CMD"
            echo "##[error] Failed $max retries triggering next workflow using curl --> Exit 33"
            exit 33
        elif [[ $RESPONSE -lt 200 || $RESPONSE -gt 206 ]]; then
            echo "##[error] Failed to trigger next workflow. HTTP Code $RESPONSE non success response to $trigger --> Exit 34"
            exit 34
        fi
