---
name: "Report"

# Reports on the initial SHA push

# Exit Codes
# 1: SHA checkout failure
# 2: SHA_BRANCH does not exist in repository
# 3: Error finding .csproj file
# 4: Failed to publish status from workflow

on:
  push:
    branches: ["code-development", "code-production", "code-staging"]

jobs:
  report-usage:
    name: "Report Usage"
    runs-on: ubuntu-latest
    timeout-minutes: 15
    if: (github.actor != 'CodeApprover')

    steps:
    
    - name: Checkout SHA Repository
      id: checkout-sha
      uses: actions/checkout@v3.5.3
      with:
        ref: ${{ github.sha }}
        fetch-depth: 0

    - name: Validate SHA
      run: |
        if [[ "${{ steps.checkout-sha.outcome }}" == "failure" ]]; then
          echo "##[error] Failure during checkout of SHA $${{ github.sha }}."
          exit 1
        else
          echo "##[debug] Successful checkout of SHA $${{ github.sha }}."
          echo "SHA=${{ github.sha }}" >> $GITHUB_ENV
          echo "##[debug] SHA=$SHA"
        fi

    - name: Validate SHA Branch
      run: |
        branch=$(echo "${{ github.ref }}" | sed "s#refs/heads/##")
        echo "SHA_BRANCH=$branch" >> $GITHUB_ENV

        if git show-ref --verify --quiet "refs/remotes/origin/$branch"; then
          echo "##[debug] Branch $branch detected in repository ${{ github.repository }}"
        else
          echo "##[error] Branch $branch does not exist in repository ${{ github.repository }}"
          echo "##[debug] branch=$branch"
          echo "##[debug] SHA_BRANCH=$SHA_BRANCH"
          echo "##[debug] Current Branch and Commit:"
          echo "$(git rev-parse --abbrev-ref HEAD) @ $(git rev-parse HEAD)"
          git show-ref
          git fetch
          git branch -a
          exit 2
        fi

    - name: Validate .csproj
      run: |
        DIR_PATH="${{ github.workspace }}/$(echo "${{ env.SHA_BRANCH }}" | sed 's/^code-//')/${{ secrets.PROJECT_NAME }}"
        CSPROJ=$(find "$DIR_PATH" -name "*.csproj" -type f)
        echo "##[debug] CSPROJ=$CSPROJ"

        if [[ ! -f "$CSPROJ" ]]; then
          echo "##[error] .csproj file $CSPROJ not found."
          echo "##[debug] ${{ github.workspace }}/$(echo "${{ env.SHA_BRANCH }}" | sed 's/^code-//') ls -la -->"
          ls -la ${{ github.workspace }}/$(echo "${{ env.SHA_BRANCH }}" | sed 's/^code-//')/${{ secrets.PROJECT_NAME }}/
          exit 3
        fi
        echo "CSPROJ=$CSPROJ" >> $GITHUB_ENV
        echo "##[debug] CSPROJ=$CSPROJ"

    - name: Report Commit Details
      run: |
        echo "----- COMMIT DETAILS -----"
        echo "Branch Name: ${{ env.SHA_BRANCH }}"
        echo "Commit SHA: ${{ github.sha }}"
        echo "Commit Message: ${{ github.event.head_commit.message }}"
        echo "Commit Author: ${{ github.event.head_commit.author.name }}"
        echo "Committer Email: ${{ github.event.head_commit.author.email }}"
        echo "Pusher Name: ${{ github.event.pusher.name }}"
        echo "Actor: ${{ github.actor }}"
        echo "--------------------------"

    - name: Report GitHub Environment and Workflow Details
      run: |
        echo "----- GITHUB ENVIRONMENT & WORKFLOW DETAILS -----"
        echo "Date: $(date)"
        echo "Event Name: ${{ github.event_name }}"
        echo "Ref: ${{ github.ref }}"
        echo "Repository: ${{ github.repository }}"
        echo "Repository Owner: ${{ github.repository_owner }}"
        echo "Workflow Name: ${{ github.workflow }}"
        echo "GitHub Server URL: ${{ github.server_url }}"
        echo "GitHub API URL: ${{ github.api_url }}"
        echo "GitHub GraphQL URL: ${{ github.graphql_url }}"
        echo "Runner OS: ${{ runner.os }}"
        echo "Workspace: ${{ github.workspace }}"
        [ ! -z "${{ github.base_ref }}" ] && echo "Base Ref: ${{ github.base_ref }}"
        [ ! -z "${{ github.head_ref }}" ] && echo "Head Ref: ${{ github.head_ref }}"
        echo "-----------------------------------------------"

    - name: Report Job, Run and Runner Details
      run: |
        echo "----- JOB, RUN AND RUNNER DETAILS -----"
        echo "Job Name: ${{ github.job }}"
        echo "Event ID: ${{ github.run_id }}"
        echo "Run Number: ${{ github.run_number }}"
        echo "Runner Name: ${{ runner.name }}"
        echo "Runner Label: ${{ runner.label }}"
        echo "Runner Tool Cache: ${{ runner.tool_cache }}"
        echo "Runner Temp Directory: ${{ runner.temp }}"
        echo "GitHub Event Before: ${{ github.event.before }}"
        echo "GitHub Event After: ${{ github.event.after }}"
        echo "---------------------------------------"

    - name: Trigger Dependency Caching Workflow # 01-cache-dependencies.yml
      if: success()      
      run: |
        trigger="trigger-cache-dependencies"
        BASE="{\"event_type\": \"$trigger\", \"client_payload\": {"
        SHA="\"sha\": \"${{ env.SHA }}\","
        CSPROJ="\"csproj\": \"${{ env.CSPROJ }}\","
        BRANCH="\"branch_name\": \"${{ env.SHA_BRANCH }}\""
        END="}}"
        PAYLOAD="$BASE$SHA$CSPROJ$BRANCH$END"

        CMD=(curl -s -o /dev/null -w "%{http_code}" -X POST 
        -H "Authorization: Bearer ${{ secrets.AUTH }}"
        -H "Accept: application/vnd.github.v3+json"
        -d "$PAYLOAD"
        "https://api.github.com/repos/${{ github.repository }}/dispatches")
        RESPONSE=$("${CMD[@]}")

        if [[ $RESPONSE -ge 200 && $RESPONSE -le 206 ]]; then  # HTTP 'success'
          echo "##[error] Failed to trigger next workflow. HTTP Code: $RESPONSE"
          echo "##[error] $trigger"
          exit 4
        else
          echo "##[debug] Triggered next workflow=$trigger"
        fi
