---
name: "Cache Dependencies"

# Caches dependencies such as dotnet restore nuget packages.

# Exit Codes
# 34 - Dotnet restore failed

on:
  repository_dispatch:
    types: trigger-cache-dependencies

env:
  # Pre-validated
  SHA: ${{ github.event.client_payload.sha }}
  SHA_BRANCH: ${{ github.event.client_payload.branch_name }}
  CSPROJ: ${{ github.event.client_payload.csproj }}

jobs:

  prepare-dotnet:

    name: Cache Dependencies
    runs-on: ubuntu-latest
    timeout-minutes: 15

    # un-comment to block execution
    #if: (github.actor != 'CodeApprover') 
    
    steps:

    - name: Checkout SHA Repository
      uses: actions/checkout@v3.5.3
      with:
        ref: ${{ env.SHA }}
        fetch-depth: 0

    - name: Restore dotnet Dependencies
      run: |
        echo "##[info] Restoring .NET dependencies for ${{ env.CSPROJ }}"
        dotnet restore --no-cache "${{ env.CSPROJ }}" -v detailed || (echo "##[error] Dotnet restore failed" && exit 34)

    - name: Cache dotnet Dependencies
      uses: actions/cache@v3
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-dotnet-${{ env.SHA }}
        restore-keys: |
          ${{ runner.os }}-dotnet-

    - name: Trigger Next Workflow # 02-stylecop-linter.yml
      if: success()
      run: |
        trigger="trigger-stylecop-linter"
        BASE="{\"event_type\": \"$trigger\", \"client_payload\": {"
        SHA="\"sha\": \"${{ env.SHA }}\","
        CSPROJ="\"csproj\": \"${{ env.CSPROJ }}\","
        BRANCH="\"branch_name\": \"${{ env.SHA_BRANCH }}\""
        END="}}"

        curl -s -o /dev/null -X POST \
        -H "Authorization: Bearer ${{ secrets.AUTH }}" \
        -H "Accept: application/vnd.github.v3+json" \
        -d "$BASE$SHA$CSPROJ$BRANCH$END" \
        "https://api.github.com/repos/${{ github.repository }}/dispatches"
