---
name: Production Tests

on:
  repository_dispatch:
    types: [Production Tests]

env:
  SHA: ${{ github.event.client_payload.sha }}
  SHA_BRANCH: ${{ github.event.client_payload.sha_branch }}
  CSPROJ: ${{ github.event.client_payload.csproj }}
  NEXT_WORKFLOW: Versioning

jobs:
  production-tests:
    name: Production Tests
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout SHA Repository
        id: checkout-sha
        uses: actions/checkout@v3.6.0
        with:
          ref: ${{ env.SHA }}
          fetch-depth: 0 # Fetch all
