######################################
# Workflow: Deploy Git

# Description:
# The Deploy Git workflow handles deploying changes to various Git branches based on where the initial push was made.
# If the push was made to the `main` branch, it forces all other branches to mirror `main`.
# If the push was made to another branch (e.g., `code-development`), it migrates changes to other target branches.
# After successfully deploying to Git, it triggers the next specified workflow.

# Trigger:
# The workflow is initiated when the `Deploy Git` event is received.

# Exit Codes:
# 32 - Failure to update Gist with blank content.
# 40 - Failed to configure Git user.
# 44 - Source directory does not exist or is empty.
# 90 - Failure to trigger the next workflow after all retry attempts.

######################################

---
name: Deploy Git

on:
  repository_dispatch:
    types: [Deploy Git]

env:
  SHA: ${{ github.event.client_payload.sha }}
  SHA_BRANCH: ${{ github.event.client_payload.sha_branch }}
  NEW_VERSION: ${{ github.event.client_payload.new_version }}
  CSPROJ: ${{ github.event.client_payload.csproj }}
  NEXT_WORKFLOW: Deployment Success

jobs:
  deploy-git-branches:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:

    # Step 1: Checkout the repository using the specified SHA.
    - name: Checkout SHA Repository
      uses: actions/checkout@v3.6.0
      with:
        ref: ${{ env.SHA }}
        fetch-depth: 0

    # Step 2: Configure the Git user.
    - name: Configure Git User
      run: |
 
        git config user.name "${{ github.repository_owner}}"
        git config user.email "${{ vars.EMAIL }}"
        echo "##[debug] Git user configured."

    # Step 3: Unlock SHA Gist.
    # This step resets the Gist that locks the SHA, preparing for the next deployment.
    - name: Unlock SHA Gist
      run: |
 
        gist_id="${{ vars.SHA_GIST }}"
        CURL_CMD=$(echo "curl -L \
          -X PATCH \
          -H \"Accept: application/vnd.github+json\" \
          -H \"Authorization: token ${{ secrets.AUTH }}\" \
          https://api.github.com/gists/$gist_id \
          -d '{\"files\": {\"auth-gate.sha\": {\"content\": \"\"}}}'")
        eval "$CURL_CMD"

    # Step 4: Determine which branches and directories to deploy to.
    - name: Set Deployment Branches and Directories
      run: |
 
        case "${{ env.SHA_BRANCH }}" in
          "code-development")
            # Push changes from development directory to staging and main branches
            deploy_branches=("code-staging" "main")
            directory="development"
            ;;
          "code-staging")
            # Push changes from staging directory to production and main branches
            deploy_branches=("code-production" "main")
            directory="staging"
            ;;
          "code-production")
            # Push changes from production directory to main branch
            deploy_branches=("main")
            directory="production"
            ;;
        esac
        echo "deploy_branches=${deploy_branches[@]}" >> $GITHUB_ENV
        echo "DIRECTORY=$directory" >> $GITHUB_ENV

    # Step 5: Deploy to Target Branches and Main
    - name: Deploy to Target Branches and Main
      run: |
     
        # Deploy to the next target branch
        git fetch origin
        git checkout ${{ env.TARGET_BRANCH }}
        rsync -av --delete --exclude=.git/ /tmp/temp-dir/${{ env.DIRECTORY }}/ ${{ github.workspace }}/${{ env.DIRECTORY }}/
        COMMIT_MSG="Migrating changes from ${{ env.SHA_BRANCH }} to ${{ env.TARGET_BRANCH }} [skip ci]"
        git add -A && git commit -m "$COMMIT_MSG" && git push origin ${{ env.TARGET_BRANCH }}
    
        # Deploy to main
        git checkout main
        rsync -av --delete --exclude=.git/ /tmp/temp-dir/${{ env.DIRECTORY }}/ ${{ github.workspace }}/${{ env.DIRECTORY }}/
        COMMIT_MSG_MAIN="Updating main with changes from ${{ env.SHA_BRANCH }} [skip ci]"
        git add -A && git commit -m "$COMMIT_MSG_MAIN" && git push origin main

    # Step 6: Deploy the changes to target branches.
    - name: Deploy to Target Branches
      run: |
 
        for target_branch in code-development code-staging code-production; do
            if [[ $target_branch != "${{ env.SHA_BRANCH }}" ]]; then
                git fetch origin
                git checkout $target_branch
                rsync -av --delete --exclude=.git/ /tmp/temp-dir/ ${{ github.workspace }}/${{ env.DIRECTORY }}/
                COMMIT_MSG="Migrating changes from ${{ env.SHA_BRANCH }} to $target_branch based on tag $latest_tag: $TAG_MESSAGE [skip ci]"
                git add -A && git commit -m "$COMMIT_MSG" && git push origin $target_branch
            fi
        done
 
    # Step 7: Set github tag to latest version
    - name: Set Version tag
      run: |
 
        latest_tag=$(git tag -l 'v*' | sort -V | tail -n1)
        TAG_MESSAGE=$(git tag -l --format='%(contents)' $latest_tag)

    # Step 8 - Unset the lockfile
    - name: Set SHA Gist as Locked
      run: |
 
        create_response=$(curl -s -X PATCH \
          -H "Authorization: token ${{ secrets.AUTH }}" \
          -H "Accept: application/vnd.github.v3+json" \
          -d "{\"files\": {\"lockfile.lock\": {\"content\": \"\"}}}" \
          "https://api.github.com/gists/${{ vars.SHA_GIST }}")
        gist_id=$(echo "$create_response" | jq -r '.id')
        if [[ -z "$gist_id" ]]; then
          echo "Failed to set lock."
          exit 32
        else
          echo "Lock set successfully."
        fi

    # Step 8: Trigger the next workflow if Git deployment is successful.
    - name: Trigger Next Workflow
      run: |
 
        CMD=$(echo "curl -L -X POST" \
          "-H \"Accept: application/vnd.github+json\"" \
          "-H \"Authorization: Bearer ${{ secrets.AUTH }}\"" \
          "https://api.github.com/repos/${{ github.repository }}/dispatches" \
          "-d '{\"event_type\":\"${{ env.NEXT_WORKFLOW }}\"," \
          "\"client_payload\":{" \
          "\"sha\":\"${{ env.SHA }}\"," \
          "\"sha_branch\":\"${{ env.SHA_BRANCH }}\"," \
          "\"new_version\":\"${{ env.NEW_VERSION }}\"," \
          "\"csproj\":\"${{ env.CSPROJ }}\"}'")
        eval "$CMD"
