---
name: "Superlinter"  # https://github.com/super-linter/super-linter

on:
  workflow_run:
    workflows:
      - CodeQL

jobs:

  super-linter:
  
    name: SuperLinter 
    runs-on: ubuntu-latest
    timeout-minutes: 15
    if: (github.actor != 'CodeApprover')

    steps:

      - name: Report SHA and workflow timestamp
        run: |
          echo "${{ github.event.client_payload.sha }}"
          date

      - name: Checkout code
        uses: actions/checkout@v3.5.3
        with:
          fetch-depth: 0

      - name: Print JSCPD config path
        run: echo "JSCPD config path is ${{ github.workspace }}/.jscpd.json"
  
      - name: Lint code-base
        uses: super-linter/super-linter@v5
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: ${{ github.ref }}
          GITHUB_TOKEN: ${{ secrets.AUTH }}
          JSCPD_CONFIG_FILE: .jscpd.json
