name: Success

on:
  repository_dispatch:
    types: Success

env:
  SHA: ${{ github.event.client_payload.sha }}
  CSPROJ: ${{ github.event.client_payload.csproj }}

jobs:

  publish-deployment-success:
    name: Publish Deployment Success
    runs-on: ubuntu-latest
    timeout-minutes: 15

    # un-comment to block execution
    #if: (github.actor != ${{ github.repository_owner }})
    
    steps:

      - name: Checkout SHA Repository
        uses: actions/checkout@v3.6.0
        with:
          ref: ${{ env.SHA }}
          fetch-depth: 0

      - name: Set Branch and Environment
        run: |
        
          branch=$(git name-rev ${{ env.SHA }} | sed 's#.*/##' | sed 's#.*-##')
          environment=${branch/code-/}
          echo "ENVIRONMENT=$environment" >> $GITHUB_ENV
          echo "SHA_BRANCH=$branch" >> $GITHUB_ENV          

      - name: Set Next Branch
        run: |
        
          directory="${{ env.ENVIRONMENT }}"
          if [[ "${{ env.ENVIRONMENT }}" == "development" ]]; then
              branch="code-staging"
          elif [[ "${{ env.ENVIRONMENT }}" == "staging" ]]; then
              branch="code-production"
          elif [[ "${{ env.ENVIRONMENT }}" == "production" ]]; then
              branch="main"
          elif [[ "${{ env.ENVIRONMENT }}" == "main" ]]; then
              branch="main"
              directory="production"
          fi
          echo "DEPLOY_BRANCH=$branch" >> $GITHUB_ENV
          echo "DIRECTORY=$directory" >> $GITHUB_ENV

      - name: Set Commit API Status URL
        run: |
        
          REPO_OWNER=${{ github.repository_owner }}
          REPO_NAME=${{ github.repository }}
          STATUS_URL="https://api.github.com/repos/${REPO_OWNER}/${REPO_NAME}/statuses/${{ env.SHA }}"
          echo "STATUS_URL=$STATUS_URL" >> $GITHUB_ENV

      - name: Update Deployment Status to Success
        run: |
        
          CMD="curl -X POST -H \"Authorization: Bearer ${{ secrets.AUTH }}\" -H \"Accept: application/vnd.github.v3+json\" "
          CMD+="${{ env.STATUS_URL }} "
          CMD+="-d '{\"state\": \"success\", \"description\": \"Deploying SHA ${{ env.SHA }} from ${{ env.SHA_BRANCH }} to ${{ env.DEPLOY_BRANCH }}. "
          CMD+="New code in ${{ env.DIRECTORY }} directory on both branches.\", \"context\": \"deployment\"}'"
          RESPONSE=$(eval "${CMD}")
          echo "##[info]# API Response: $RESPONSE"

      - name: Deploy using GitHub CLI
        run: |
        
          desc="Deploying SHA ${{ env.SHA }} from ${{ env.SHA_BRANCH }} to ${{ env.DEPLOY_BRANCH }}. "
          desc+="New code in ${{ env.DIRECTORY }} directory on both branches."
          CMD="gh api --method POST -H \"Accept: application/vnd.github+json\" -H \"X-GitHub-Api-Version: 2022-11-28\" "
          CMD+="/repos/\${{ github.repository }}/deployments -f ref='${{ env.SHA_BRANCH }}' -f payload='{ \"deploy\": \"migrate\" }' "
          CMD+="-f description='${desc}'"
          eval "${CMD}"
        env:
          GH_TOKEN: ${{ secrets.AUTH }}
