name: "Set Deployment Success"
# https://docs.github.com/en/webhooks/webhook-events-and-payloads#deployment

on:
  repository_dispatch:
    types: trigger-deployment-success

env:
  SHA: ${{ github.event.client_payload.sha }}
  SHA_BRANCH: ${{ github.event.client_payload.sha_branch }}

jobs:
  publish-deployment-success:
    name: Publish Deployment Success
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout SHA Repository
        uses: actions/checkout@v3.5.0
        with:
          ref: ${{ env.SHA }}
          fetch-depth: 0

      - name: Set SHA Commit Environment
        run: |
          branch="${{ env.SHA_BRANCH }}"
          environment=${branch/code-/}
          echo "ENVIRONMENT=$environment" >> $GITHUB_ENV

      - name: Set Next Branch
        run: |
          directory="${{ env.ENVIRONMENT }}"
          if [[ "${{ env.ENVIRONMENT }}" == "development" ]]; then
              branch="code-staging"
          elif [[ "${{ env.ENVIRONMENT }}" == "staging" ]]; then
              branch="code-production"
          elif [[ "${{ env.ENVIRONMENT }}" == "production" ]]; then
              branch="main"
          elif [[ "${{ env.ENVIRONMENT }}" == "main" ]]; then
              branch="main"
              directory="production"
          fi
          echo "DEPLOY_BRANCH=$branch" >> $GITHUB_ENV
          echo "DIRECTORY=$directory" >> $GITHUB_ENV

      - name: Set Commit API Status URL
        run: |
          REPO_OWNER=${{ github.repository_owner }}
          REPO_NAME=${{ github.repository }}
          STATUS_URL="https://api.github.com/repos/${REPO_OWNER}/${REPO_NAME}/statuses/${{ env.SHA }}"
          echo "STATUS_URL=$STATUS_URL" >> $GITHUB_ENV

      - name: Check Current Deployment Status
        run: |
          CURRENT_STATUS_RESPONSE=$(curl -s -H "Authorization: Bearer ${{ secrets.AUTH }}" "${{ env.STATUS_URL }}")
          if [[ $CURRENT_STATUS_RESPONSE == *"state"* ]]; then
              CURRENT_STATUS=$(echo $CURRENT_STATUS_RESPONSE | grep -oP '(?<=state": ")[^"]*')
              echo "##[info]# Current Deployment Status is '$CURRENT_STATUS'"
          else
              echo "##[info]# Current Deployment Status is unset."
          fi
          echo "CURRENT_STATUS=$CURRENT_STATUS" >> $GITHUB_ENV

      - name: Update Deployment Status to Success
        run: |
          CMD="curl -X POST -H \"Authorization: Bearer ${{ secrets.AUTH }}\" -H \"Accept: application/vnd.github.v3+json\" "
          CMD+="${{ env.STATUS_URL }} "
          CMD+="-d '{\"state\": \"success\", \"description\": \"Deploying SHA ${{ env.SHA }} from ${{ env.ENVIRONMENT }} to ${{ env.DEPLOY_BRANCH }}. "
          CMD+="New code in ${{ env.DIRECTORY }} directory on both branches.\", \"context\": \"deployment\"}'"
          RESPONSE=$(eval "${CMD}")
          echo "##[info]# API Response: $RESPONSE"

      - name: Check Updated Deployment Status
        run: |
          UPDATED_STATUS_RESPONSE=$(curl -s -H "Authorization: Bearer ${{ secrets.AUTH }}" "${{ env.STATUS_URL }}")
          if [[ $UPDATED_STATUS_RESPONSE == *"state"* ]]; then
              UPDATED_STATUS=$(echo $UPDATED_STATUS_RESPONSE | grep -oP '(?<=state": ")[^"]*')
              echo "##[info]# Updated Deployment Status is '$UPDATED_STATUS'"
          else
              echo "##[info]# Updated Deployment Status is unset."
              UPDATED_STATUS="Unset"
          fi
          echo "UPDATED_STATUS=$UPDATED_STATUS" >> $GITHUB_ENV

      - name: Verify Deployment Status Update
        run: |
          if [[ "${{ env.UPDATED_STATUS }}" != "${{ env.CURRENT_STATUS }}" ]]; then
              echo "##[error]# Deployment status was not updated correctly --> Exit 50"
              exit 50
          else
              echo "##[info]# Deployment status updated successfully."
          fi
