name: Deploy Docker Image

on:
  repository_dispatch:
    types: trigger-deploy-docker

env:
  PROJ_NAME: "Blazor-SqLite-Golf-Club"
  DOCKER_REPO: "blazor-sqlite-devops"

jobs:
  save-docker-image:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:

    - name: Checkout SHA repository
      uses: actions/checkout@v3.5.3
      with:
        ref: ${{ github.event.client_payload.sha }}
        fetch-depth: 0

    - name: Log in to Docker Hub
      uses: docker/login-action@v2.2.0
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}

    - name: Check for .lock file
      run: |
        if [[ -e ".lock" ]]; then
          echo "Found .lock file! Deployments are locked! Exiting."
          exit 1
        fi

    - name: Enable Docker Experimental Features
      run: |
        echo '{ "experimental": true }' | sudo tee /etc/docker/daemon.json
        sudo systemctl restart docker
        docker version

    - name: Extract Branch Name from SHA Commit
      run: |
        branch=$(git branch -r --contains ${{ github.event.client_payload.sha }} | sed -n 's#^ *origin/##p' | head -n 1)
        if [[ -z "$branch" ]]; then
          echo "Failed to extract branch name for SHA: ${{ github.event.client_payload.sha }}"
          exit 1
        fi
        echo "BRANCH_NAME=$branch" >> $GITHUB_ENV

    - name: Set Environment Name
      run: |
        envirn=$(echo "${{ env.BRANCH_NAME }}" | sed 's/^code-//')
        echo "ENV_NAME=$envirn" >> $GITHUB_ENV

    - name: Increment version
      run: |
        echo "VERSION=$(head -n 1 $(find ./${{ env.ENV_NAME }} -name "version" | head -n 1))" >> $GITHUB_ENV
        # Source the env variables to make sure we have access to VERSION
        source $GITHUB_ENV
        PRODUCTION=$(echo "$VERSION" | cut -d'.' -f1)
        STAGING=$(echo "$VERSION" | cut -d'.' -f2)
        DEVELOPMENT=$(echo "$VERSION" | cut -d'.' -f3)

        case "$ENV_NAME" in
          "production")
            PRODUCTION=$((PRODUCTION + 1))
            ;;
          "staging")
            STAGING=$((STAGING + 1))
            ;;
          "development")
            DEVELOPMENT=$((DEVELOPMENT + 1))
            ;;
        esac
        
        NEW_VERSION="$PRODUCTION.$STAGING.$DEVELOPMENT"
        echo "NEW_VERSION=$NEW_VERSION" >> $GITHUB_ENV

    - name: Check if Docker image already exists
      id: check_image
      run: |
        if docker manifest inspect ${{ secrets.DOCKER_HUB_USERNAME }}/${{ env.DOCKER_REPO }}:v${{ env.NEW_VERSION }} > /dev/null; then
          echo "::set-output name=image_exists::true"
          echo "Docker image already exists!"
        else
          echo "::set-output name=image_exists::false"
        fi

    - name: Set .csproj path
      run: |
        CSPROJ=$(find "${{ github.workspace }}/${{ env.ENV_NAME }}" -name "${{ env.PROJ_NAME }}.csproj")
        if [[ ! -f "$CSPROJ" ]]; then
          echo "csproj not found"
          exit 1
        fi
        echo "CSPROJ=$CSPROJ" >> $GITHUB_ENV

    - name: Write version to file
      if: steps.check_image.outputs.image_exists == 'false'
      run: |
        echo "${NEW_VERSION}" > $(find ./${{ env.ENV_NAME }} -name "version" | head -n 1)    

    - name: Build and push Docker image
      if: steps.check_image.outputs.image_exists == 'false'
      run: |
        docker_file=$(find ./${{ env.ENV_NAME }} -name "Dockerfile" | head -n 1)
        if [[ ! -f "$docker_file" ]]; then
          echo "Dockerfile not found"
          exit 1
        fi
        echo "Running docker build with: -t ${{ secrets.DOCKER_HUB_USERNAME }}/${{ env.DOCKER_REPO }}:v${{ env.NEW_VERSION }} -f "${docker_file}" "${{ github.workspace }}""
        docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/${{ env.DOCKER_REPO }}:v${{ env.NEW_VERSION }} -f "${docker_file}" "${{ github.workspace }}"
        docker push "${{ secrets.DOCKER_HUB_USERNAME }}/${{ env.DOCKER_REPO }}:v${{ env.NEW_VERSION }}"

    - name: Trigger Git Deployment
      if: success()
      run: |
        CMD="curl -X POST -H \"Authorization: Bearer ${{ secrets.AUTH }}\" "
        CMD+="-H \"Accept: application/vnd.github.v3+json\" "
        CMD+="https://api.github.com/repos/\"${{ github.repository }}\"/dispatches "
        CMD+="-d '{\"event_type\": \"trigger-git-deploy\", "
        CMD+="\"client_payload\": {\"sha\": \"${{ github.sha }}\"}}'"
        eval ${CMD}
