---
name: "Development Tests"  # code-development

on:
  workflow_run:
    workflows: "Linter StyleCop"
    types:
      - completed

env:
  PROJ_PATH: "${{ github.workspace }}/$(echo ${{ github.ref }} | grep -oE '[^-]+$')/Blazor-SqlLite-DevOps/"
  PROJ_DIR: "Blazor SqlLite Golf Club/"
  PROJ_FILE: "Blazor SqlLite Golf Club.csproj"

jobs:

  # DEVELOPMENT ENVIRONMENT - NUnit and Xunit unit tests
  dev-unit-tests:
    name: Dev Unit Tests (${{ matrix.test_framework }})
    runs-on: ubuntu-latest

    environment:
      development

    strategy:
      matrix:
        test_framework: ['Nunit', 'Xunit']

    steps:
      - name: Log Timestamp
        run: date

      - name: Set filepaths
        run: CSPROJ="${{ env.PROJ_PATH }}/${{ env.PROJ_DIR }}/${{ env.PROJ_FILE }}" >> $GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@v3.5.3

      - name: Install dependencies
        run: |
          if [ "${{ matrix.test_framework }}" == "Nunit" ]; then
            test_type="Nunit_Player_Unit_Tests"
          else
            test_type="Xunit_Game_Unit_Tests"
          fi
          command="dotnet restore --no-cache"
          command="${command} \"${{ github.workspace }}/tests/${test_type}/${test_type}.csproj\""
          eval "${command}"
  
      - name: Install dependencies
        run: |
          if [ "${{ matrix.test_framework }}" == "Nunit" ]; then
            test_type="Nunit_Player_Unit_Tests"
          else
            test_type="Xunit_Game_Unit_Tests"
          fi
          command="dotnet restore --no-cache"
          command="${command} \"${{ github.workspace }}/tests/${test_type}/${test_type}.csproj\""
          eval "${command}"
  
      - name: Run Nunit and Xunit unit tests
        run: |
          if [ "${{ matrix.test_framework }}" == "Nunit" ]; then
            test_type="Nunit_Player_Unit_Tests"
            log_file_name="nunit-results.trx"
          else
            test_type="Xunit_Game_Unit_Tests"
            log_file_name="xunit-results.trx"
          fi
          command="dotnet test"
          command="${command} --no-restore --verbosity detailed"
          command="${command} --logger \"trx;LogFileName=${log_file_name}\""
          command="${command} \"${{ github.workspace }}/tests/${test_type}/${test_type}.csproj\""
          eval "${command}"
  
  # DEVELOPMENT ENVIRONMENT - Build backUp artifact
  build-dev-artifact:
    name: Dev Build BackUp Artifact
    runs-on: ubuntu-latest
    environment:
      development
    if: startsWith(github.ref, 'refs/heads/code-development')
    needs: dev-unit-tests
    steps:
      - name: Artifact checkout repository
        uses: actions/checkout@v3.5.3
      
      - name: Artifact remove existing .NET Core SDK
        run: sudo rm -rf /usr/share/dotnet

      - name: Artifact setup .NET environment
        uses: actions/setup-dotnet@v3.2.0
        with:
          dotnet-version: '7.0.x'

      - name: Artifact restore dependencies
        run: |
          command="dotnet restore --no-cache"
          command="${command} "${{ env.CSPROJ }}""
          eval "${command}"

      - name: Build Artifact
        run: |
          command="dotnet build --no-restore --configuration Release"
          command="${command} ${{ env.CSPROJ }}"
          eval "${command}"

      - name: Publish Artifact
        run: |
          command="dotnet publish --configuration Release"
          command="${command} --no-build --output ./publish"
          command="${command} ${{ env.CSPROJ }}"
          eval "${command}"

      - name: Archive Artifact
        uses: actions/upload-artifact@v3.1.2
        with:
          name: staging-artifact
          path: ./publish/*
          if-no-files-found: error # warn/ignore
