name: Failure

on:
  workflow_run:
    workflows:
      - StyleCop
      - CodeQL
      - SuperLinter
    types:
      - completed

jobs:
  revert_on_failure:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion != 'success' }}
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3.5.3
      with:
        token: ${{ secrets.AUTH }}
        ref: ${{ github.event.workflow_run.head_sha }} # the commit

  revert-commit:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.workflow_run.head_sha }}
        fetch-depth: 0 # This is important to get the entire history

    - name: Reset the last commit
      run: git reset --hard HEAD~1

    - name: Force push the changes
      run: git push origin +${{ github.ref }}

    - name: Notify Committer
      run: |
        curl \
        -X POST \
        -H "Authorization: token ${{ secrets.PAT }}" \
        -H "Accept: application/vnd.github.v3+json" \
        https://api.github.com/repos/${{ github.repository }}/commits/${{ github.event.workflow_run.head_sha }}/comments \
        -d '{"body":"Linting failed on your commit and it has been automatically rejected. Please check and fix the linting errors before pushing again."}'
   
