name: Failure

on:
  workflow_run:
    workflows:
      - StyleCop
      - CodeQL
      - SuperLinter
    types:
      - completed
env:
  BRANCH_NAME: "$(git branch -r --contains ${{ github.event.workflow_run.head_sha }} | sed -n 1p | sed 's/origin\///')"

jobs:
  revert-commit:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion != 'success' }}
  
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3.5.3
      with:
        ref: ${{ github.event.workflow_run.head_sha }}
        fetch-depth: 0 # get entire history

    - name: Switch to target branch
      run: git checkout ${{ env.BRANCH_NAME }}

    - name: Set git user
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"

    - name: Revert the failed commit locally
      run: git revert ${{ github.event.workflow_run.head_sha }} --no-edit

    - name: Print current branch
      run: git rev-parse --abbrev-ref HEAD

    - name: Print Branch Name
      run: echo ${{ env.BRANCH_NAME }}

    - name: Print branches containing the commit
      run: git branch --contains ${{ github.event.workflow_run.head_sha }}

    - name: Push the revert commit remotely
      continue-on-error: true
      run: git push https://${{ secrets.AUTH }}@github.com/CodeApprover/Blazor-SqLite-DevOps.git ${{ env.BRANCH_NAME }}

  notify-committer:
    runs-on: ubuntu-latest
    needs: revert-commit
    
    steps:
    - name: Notify Committer
      run: |
          COMMITTER=$(git log -1 --pretty=format:'%an')
          WORKFLOW_LINK="https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          COMMENT_BODY="Hello @$COMMITTER, your recent commit ${{ github.event.workflow_run.head_sha }} "
          COMMENT_BODY+="has failed and has been automatically reverted. "
          COMMENT_BODY+="Please check the [workflow run]($WORKFLOW_LINK) for details, "
          COMMENT_BODY+="address any issues and try pushing again. Thank you!"
          
          CURL_CMD="curl -X POST"
          CURL_CMD+=" -H \"Authorization: token $GH_PAT\""
          CURL_CMD+=" -H \"Accept: application/vnd.github.v3+json\""
          CURL_CMD+=" https://api.github.com/repos/${{ github.repository }}/commits/${{ github.event.workflow_run.head_sha }}/comments"
          CURL_CMD+=" -d \"{\\\"body\\\":\\\"$COMMENT_BODY\\\"}\""
          eval "$CURL_CMD"
