---
name: Failure

on:
  workflow_run:
    workflows:
      - StyleCop
      - CodeQL
      - SuperLinter
    types:
      - completed

jobs:
  revert_on_failure:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion != 'success' }}
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3.5.3
      with:
        token: ${{ secrets.AUTH }}
        ref: ${{ github.event.workflow_run.head_sha }} # the commit

  revert-commit:
    runs-on: ubuntu-latest
  
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.workflow_run.head_sha }}
        fetch-depth: 0 # get entire history
  
    - name: Reset the last commit
      run: git reset --hard HEAD~1
  
    - name: Force push the changes
      run: git push origin +${{ steps.getbranch.outputs.branch }}
  
    - name: Notify Committer
      run: |
        COMMITTER=$(git log -1 --pretty=format:'%an')
        WORKFLOW_LINK="https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
        COMMENT_BODY="Hello @$COMMITTER, linting failed on your recent commit. It has been automatically reverted. "
        COMMENT_BODY+="Please check the [workflow run]($WORKFLOW_LINK) for details, address the linting issues, "
        COMMENT_BODY+="and try pushing again. Thank you!"
        
        CURL_CMD="curl -X POST"
        CURL_CMD+=" -H \"Authorization: token ${{ secrets.PAT }}\""
        CURL_CMD+=" -H \"Accept: application/vnd.github.v3+json\""
        CURL_CMD+=" https://api.github.com/repos/${{ github.repository }}/commits/${{ github.event.workflow_run.head_sha }}/comments"
        CURL_CMD+=" -d \"{\\\"body\\\":\\\"$COMMENT_BODY\\\"}\""
        eval "$CURL_CMD"
