name: "CI-CD Workflow"

on:
  push:
    branches: ["code-development", "code-production", "code-staging"]

jobs:
  ##############################################################################################################
  # Report usage
  ##############################################################################################################
  report:
    name: 1. Report
    runs-on: ubuntu-latest
    steps:
      - name: Set up environment
        run: |
          # Save branch name as environment variable BRANCH_NAME
          export BRANCH_NAME=${{ github.ref }}" | sed 's/.*\///'
      - name: Report usage
        run: echo "Branch name ${{ env.BRANCH_NAME }}"
      - name: Triggered event
        run: echo "Job triggered by a ${{ github.event_name }}"
      - name: Running server
        run: echo "Running a ${{ runner.os }} server on GitHub Actions."
      - name: Repository information
        run: echo "${{ github.repository }} repository"
      - name: Environment branch
        run: echo "${{ env.BRANCH_NAME }} branch."
