name: "StyleCop"

on:
  workflow_run:
    workflows:
      - Report
    types:
      - completed

env:
  BASE_PATH: "${{ github.workspace }}"
  PROJ_NAME: "Blazor SqlLite Golf Club"

jobs:
  stylecop-linting:
    name: StyleCop Linting
    runs-on: ubuntu-latest
    timeout-minutes: 360

    steps:
    - name: Log Timestamp
      run: date

    - name: Checkout repository
      uses: actions/checkout@v3.5.3

    - name: Set ENV_NAME and CSPROJ path
      run: |
        ENV_NAME=$(echo "${{ github.ref }}" | sed -e "s#refs/heads/##")
        echo "ENV_NAME=$ENV_NAME" >> $GITHUB_ENV
        CSPROJ="${{ env.BASE_PATH }}/$ENV_NAME/"
        CSPROJ+="${{ env.PROJ_NAME }}/${{ env.PROJ_NAME }}.csproj"
        echo "CSPROJ=$CSPROJ" >> $GITHUB_ENV

    - name: Setup .NET environment
      uses: actions/setup-dotnet@v3.2.0
      with:
        dotnet-version: '7.0.x'

    - name: Restore Dependencies
      run: |
        echo "CSPROJ == $CSPROJ"
        dotnet restore --no-cache "$CSPROJ"

    - name: Dotnet Build
      run: |
        CMD="dotnet build --no-restore \"$CSPROJ\""
        CMD+=" /p:StyleCopEnabled=true"
        CMD+=" /p:StyleCopTreatErrorsAsWarnings=false"
        CMD+=" /p:StyleCopForceFullAnalysis=false"
        eval "$CMD"
