---
name: "StyleCop"

# All branches

on:
  repository_dispatch:
    types: "trigger-stylecop"

env:
  PROJ_NAME: "Blazor SqlLite Golf Club"

jobs:

  setup:
    name: Setup Repository
    runs-on: ubuntu-latest
    steps:
    
    - name: Log Timestamp
      run: date

    - name: Extract SHA for Checkout
      run: |
        echo "SHA=$(echo '${{ github.event.client_payload.sha }}')" >> $GITHUB_ENV

    - name: Checkout SHA repository
      uses: actions/checkout@v3.5.3
      with:
        ref: ${{ env.SHA }}

    - name: Extract Branch Name from SHA Commit
      run: |
        branch=$(git branch -r --contains ${{ env.SHA }} | grep 'origin/' | sed 's#origin/##' | head -n 1 | xargs)
        if [[ -z "$branch" ]]; then
          echo "Failed to extract branch name for SHA: ${{ env.SHA }}"
          exit 1
        fi
        echo "BRANCH_NAME=$branch" >> $GITHUB_ENV

    - name: Determine .csproj
      run: |
        CSPROJ=$(find "${{ github.workspace }}/$(echo "${{ env.BRANCH_NAME }}" | sed 's/^code-//')" -name "${{ env.PROJ_NAME }}.csproj")
        [[ -z "$CSPROJ" ]] && echo "Error: .csproj file not found." && exit 1 || echo "CSPROJ=$CSPROJ" >> $GITHUB_ENV

  linting:
    name: StyleCop Linting
    runs-on: ubuntu-latest
    needs: setup
    steps:

    - name: Setup .NET environment
      uses: actions/setup-dotnet@v3.2.0
      with:
        dotnet-version: '7.0.x'

    - name: Restore Dependencies
      run: |
        dotnet restore --no-cache "$CSPROJ"

    - name: Dotnet Build with StyleCop
      run: |
        CMD="dotnet build --no-restore \"$CSPROJ\""
        CMD+=" /p:StyleCopEnabled=true"
        CMD+=" /p:StyleCopTreatErrorsAsWarnings=false"
        CMD+=" /p:StyleCopForceFullAnalysis=false"
        eval "$CMD"

  trigger-tests:
    name: Trigger Environment-Specific Tests
    runs-on: ubuntu-latest
    needs: linting
    steps:

    - name: Trigger Appropriate Workflow
      if: success()
      run: |
        ENV_NAME=$(echo "${{ env.BRANCH_NAME }}" | sed 's/^code-//')
        case $ENV_NAME in
          development) EVENT_TYPE="trigger-development-tests" ;;
          staging) EVENT_TYPE="trigger-env-staging-tests" ;;
          production) EVENT_TYPE="trigger-production-tests" ;;
          *) echo "Error: Unexpected environment name"; exit 1 ;;
        esac
        CMD="curl -X POST -H \"Authorization: Bearer ${{ secrets.AUTH }}\" "
        CMD+="-H \"Accept: application/vnd.github.v3+json\" "
        CMD+="https://api.github.com/repos/${{ github.repository }}/dispatches "
        CMD+="-d '{\"event_type\": \"$EVENT_TYPE\", "
        CMD+="\"client_payload\": {\"sha\": \"${{ env.sha }}\"}}'"
        eval ${CMD}
