---
name: "StyleCop"

on:
  repository_dispatch:
    types: "Stylecop Linter"

env:
  PROJ_NAME: "Blazor SqlLite Golf Club"

jobs:

  stylecop-linting:
    name: StyleCop Linting
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:

    - name: Extract SHA for Checkout
      run: |
        echo "SHA=$(echo '${{ github.event.client_payload.sha }}')" >> $GITHUB_ENV


    - name: Checkout SHA repository
      uses: actions/checkout@v3.5.3
      with:
        ref: ${{ env.SHA }}

    - name: Fetch all branches
      run: git fetch --all

    - name: Extract Branch Name from SHA Commit
      run: |
        branch=$(git branch -r --contains ${{ env.SHA }} | grep 'origin/' | sed 's#origin/##' | head -n 1 | xargs)
        if [[ -z "$branch" ]]; then
          echo "Failed to extract branch name for SHA: ${{ env.SHA }}"
          exit 1
        fi
        echo "BRANCH_NAME=$branch" >> $GITHUB_ENV

    - name: Set CSPROJ path
      run: |
        bname=$(echo "${{ env.BRANCH_NAME }}" | sed 's/^code-//')
        CSPROJ="${{ github.workspace }}/${bname}/"
        CSPROJ+="${{ github.event.repository.name }}/${{ env.PROJ_NAME }}/${{ env.PROJ_NAME }}.csproj"
        echo "CSPROJ=$CSPROJ" >> $GITHUB_ENV

    - name: Setup .NET environment
      uses: actions/setup-dotnet@v3.2.0
      with:
        dotnet-version: '7.0.x'

    - name: Restore Dependencies
      run: |
        echo "CSPROJ == $CSPROJ"
        dotnet restore --no-cache "$CSPROJ"

    - name: Dotnet Build
      run: |
        CMD="dotnet build --no-restore \"$CSPROJ\""
        CMD+=" /p:StyleCopEnabled=true"
        CMD+=" /p:StyleCopTreatErrorsAsWarnings=false"
        CMD+=" /p:StyleCopForceFullAnalysis=false"
        eval "$CMD"
