name: "Stylecop Linter"

on:
  workflow_run:
    workflows: "Report Usage"
    types:
      - completed

env:
  PROJECT_PATH: "${{ github.workspace }}/$(echo ${{ github.ref }} | grep -oE '[^-]+$')/Blazor-SqlLite-DevOps/"
  PROJ_FILE: "Blazor SqlLite Golf Club/Blazor SqlLite Golf Club.csproj"

jobs:

  stylecop-linting:
    name: StyleCop Linting
    runs-on: ubuntu-latest
    timeout-minutes: 360
    if: >
      (github.ref == 'refs/heads/code-development' ||
      github.ref == 'refs/heads/code-staging' ||
      github.ref == 'refs/heads/code-production' ||
      github.ref == 'refs/heads/main') &&
      github.event_name == 'workflow_run'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3.5.3
      - name: Setup .NET environment
        uses: actions/setup-dotnet@v3.2.0
        with:
          dotnet-version: '7.0.x'
      - name: Restore Dependencies
        run: |
          CSPROJ_PATH=${{ env.PROJECT_PATH }}/${{ env.PROJ_FILE }}
          dotnet restore --no-cache "${{ env.CSPROJ_PATH }}"
      - name: Build with StyleCop
        run: |
          dotnet build --no-restore "${{ env.CSPROJ_PATH }}"
          /p:StyleCopEnabled=true
          /p:StyleCopTreatErrorsAsWarnings=false
          /p:StyleCopForceFullAnalysis=false
