name: "Stylecop Linter"

on:
  workflow_run:
    workflows: "Report"
    types:
      - completed

env:
  PROJECT_PATH: "${{ github.workspace }}/$(echo ${{ github.ref }} | grep -oE '[^-]+$')/Blazor-SqlLite-DevOps/"

jobs:

  stylecop-linting:
    name: StyleCop Linting
    runs-on: ubuntu-latest
    timeout-minutes: 360
    if: >
      (github.ref == 'refs/heads/code-development' ||
      github.ref == 'refs/heads/code-staging' ||
      github.ref == 'refs/heads/code-production' ||
      github.ref == 'refs/heads/main')
    steps:
      - name: Log Timestamp
        run: date
      - name: Checkout repository
        uses: actions/checkout@v3.5.3
      - name: Setup .NET environment
        uses: actions/setup-dotnet@v3.2.0
        with:
          dotnet-version: '7.0.x'
      - name: Restore Dependencies
        run: |
          PROJ_FILE="Blazor SqlLite Golf Club/Blazor SqlLite Golf Club.csproj"
          CSPROJ_PATH=${{ env.PROJECT_PATH }}/${{ PROJ_FILE }} >> $GITHUB_ENV
          dotnet restore --no-cache "${{ env.CSPROJ_PATH }}"
      - name: Dotnet Build
        run: |
          dotnet build --no-restore "${{ env.CSPROJ_PATH }}"
          /p:StyleCopEnabled=true
          /p:StyleCopTreatErrorsAsWarnings=false
          /p:StyleCopForceFullAnalysis=false
