---
name: "Report"

on:
  push:
    branches: ["code-development", "code-production", "code-staging"]

jobs:
  report:
    name: Report
    runs-on: ubuntu-latest
    timeout-minutes: 15

    if: |
      github.ref == 'refs/heads/code-development' ||
      github.ref == 'refs/heads/code-staging' ||
      github.ref == 'refs/heads/code-production'

    steps:

    - name: Determine Branch Name
      run: |
        ref=$(echo "${{ github.ref }}" | sed 's#refs/heads/##')
        echo "BRANCH_NAME=$ref" >> $GITHUB_ENV

    - name: GitHub Environment Details
      run: |
        echo "Actions Report"
        date
        echo "Ref: ${{ github.ref }}"
        echo "Event Name: ${{ github.event_name }}"
        echo "Repository: ${{ github.repository }}"
        echo "Workflow: ${{ github.workflow }}"
        echo "Action: ${{ github.action }}"
        [ ! -z "${{ github.base_ref }}" ] && echo "Base Ref: ${{ github.base_ref }}"
        [ ! -z "${{ github.head_ref }}" ] && echo "Head Ref: ${{ github.head_ref }}"
        echo "Event Path: ${{ github.event_path }}"
        echo "Workspace: ${{ github.workspace }}"
        [ ! -z "${{ github.action_ref }}" ] && echo "Action Repository: ${{ github.action_ref }}"
        [ ! -z "${{ github.action_sha }}" ] && echo "Action SHA: ${{ github.action_sha }}"
        echo "Runner OS: ${{ runner.os }}"
        echo "Runner Tool Cache: ${{ runner.tool_cache }}"
        echo "Runner Temp Directory: ${{ runner.temp }}"
        
    - name: GitHub Commit & Actor Details
      run: |
        echo "Branch Name: ${{ env.BRANCH_NAME }}"
        echo "Commit Message: ${{ github.event.head_commit.message }}"
        echo "Commit Author: ${{ github.event.head_commit.author.name }}"
        echo "Committer Email:(${{ github.event.head_commit.author.email }})"
        echo "Pusher Name: ${{ github.event.pusher.name }}"
        echo "Actor: ${{ github.actor }}"
        echo "Commit SHA: ${{ github.sha }}"

    - name: Job & Run Details
      run: |
        date
        echo "Job Name: ${{ github.job }}"
        echo "Event ID: ${{ github.run_id }}"
        echo "Run Number: ${{ github.run_number }}"

    - name: Trigger Stylecop Workflow
      if: success()
      run: |
        CMD="curl -X POST -H \"Authorization: Bearer ${{ secrets.AUTH }}\" "
        CMD+="-H \"Accept: application/vnd.github.v3+json\" "
        CMD+="https://api.github.com/repos/\"${{ github.repository }}\"/dispatches "
        CMD+="-d '{\"event_type\": \"trigger-stylecop\", "
        CMD+="\"client_payload\": {\"sha\": \"${{ github.sha }}\"}}'"
        eval ${CMD}
