---
name: "1. Report"

# code-development code-staging code-production main

on:
  push:
    branches: ["code-development", "code-production", "code-staging", "main"]

jobs:

  # ALL Branches - Report Usage
  report:
    name: 1. Report
    runs-on: ubuntu-latest
    timeout-minutes: 360
  
    steps:
    - name: Log Timestamp
      run: date
  
    - name: GitHub Environment Details
      run: |
        echo "Actions Report"
        echo "Environment: $(echo \"${{ github.ref }}\" | grep -oE '[^-]+$')"
        echo "Ref: ${{ github.ref }}"
        echo "Event Name: ${{ github.event_name }}"
        echo "Repository: ${{ github.repository }}"
        echo "Workflow: ${{ github.workflow }}"
        echo "Action: ${{ github.action }}"
        echo "Base Ref: ${{ github.base_ref }}"
        echo "Head Ref: ${{ github.head_ref }}"
        echo "Event Path: ${{ github.event_path }}"
        echo "Workspace: ${{ github.workspace }}"
        echo "Action Repository: ${{ github.action_ref }}"
        echo "Action SHA: ${{ github.action_sha }}"
        
    - name: GitHub Commit & Actor Details
      run: |
        echo "Commit Message: ${{ github.event.head_commit.message }}"
        echo "Commit Author: ${{ github.event.head_commit.author.name }}"
        echo "Committer Email:(${{ github.event.head_commit.author.email }})"
        echo "Pusher Name: ${{ github.event.pusher.name }}"
        echo "Actor: ${{ github.actor }}"
        echo "SHA: ${{ github.sha }}"

    - name: Runner Details
      run: |
        echo "Runner OS: ${{ runner.os }}"
        echo "Runner Tool Cache: ${{ runner.tool_cache }}"
        echo "Runner Temp Directory: ${{ runner.temp }}"

    - name: Job & Run Details
      run: |
        echo "Job Name: ${{ github.job }}"
        echo "Event ID: ${{ github.run_id }}"
        echo "Run Number: ${{ github.run_number }}"
