---
name: "Report"

on:
  push:
    branches: ["code-development", "code-production", "code-staging", "main"]

jobs:
  report:
    name: Report
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:

    - name: Determine Branch Name
      run: |
        branch=""
        for bname in "code-development" "code-production" "code-staging" "main"; do
          if [[ "${{ github.ref }}" == "refs/heads/$bname" ]]; then
            branch=${bname}
            echo "BRANCH_NAME=$branch" >> $GITHUB_ENV
            break
          fi
        done
        if [[ -z "$branch" ]]; then 
          exit 1
        fi

    - name: Compile Details into JSON
      run: |
        REPORT="{"

        # Repository and Branch Details
        REPORT+="\"Repository\":\"${{ github.repository }}\","
        REPORT+="\"Ref\":\"${{ github.ref }}\","
        REPORT+="\"Branch Name\":\"${{ env.BRANCH_NAME }}\","

        # Commit and Actor Details
        REPORT+="\"Commit SHA\":\"${{ github.sha }}\","
        REPORT+="\"Commit Message\":\"${{ github.event.head_commit.message }}\","
        REPORT+="\"Commit Author\":\"${{ github.event.head_commit.author.name }}\","
        REPORT+="\"Committer Email\":\"${{ github.event.head_commit.author.email }}\","
        REPORT+="\"Pusher Name\":\"${{ github.event.pusher.name }}\","
        REPORT+="\"Actor\":\"${{ github.actor }}\","

        # GitHub Environment Details
        REPORT+="\"Workflow\":\"${{ github.workflow }}\","
        REPORT+="\"Action\":\"${{ github.action }}\","
        REPORT+="\"Event Name\":\"${{ github.event_name }}\","
        [ ! -z "${{ github.base_ref }}" ] && REPORT+="\"Base Ref\":\"${{ github.base_ref }}\","
        [ ! -z "${{ github.head_ref }}" ] && REPORT+="\"Head Ref\":\"${{ github.head_ref }}\","
        REPORT+="\"Event Path\":\"${{ github.event_path }}\","
        REPORT+="\"Workspace\":\"${{ github.workspace }}\","
        [ ! -z "${{ github.action_ref }}" ] && REPORT+="\"Action Repository\":\"${{ github.action_ref }}\","
        [ ! -z "${{ github.action_sha }}" ] && REPORT+="\"Action SHA\":\"${{ github.action_sha }}\","

        # Runner Details
        REPORT+="\"Runner OS\":\"${{ runner.os }}\","
        REPORT+="\"Runner Tool Cache\":\"${{ runner.tool_cache }}\","
        REPORT+="\"Runner Temp Directory\":\"${{ runner.temp }}\""

        # Remove any trailing comma and close the JSON object
        REPORT=$(echo $REPORT | sed 's/,$//')
        REPORT+="}"

        echo "REPORT=$REPORT" >> $GITHUB_ENV

    - name: Display Details in JSON
      run: |
        echo "$REPORT"

    - name: Trigger StyleCop Workflow
      if: success()
      run: |
        CMD="curl -X POST -H \"Authorization: Bearer ${{ secrets.AUTH }}\" "
        CMD+="-H \"Accept: application/vnd.github.v3+json\" "
        CMD+="https://api.github.com/repos/\"${{ github.repository }}\"/dispatches "
        CMD+="-d '{\"event_type\": \"trigger-stylecop\", "
        CMD+="\"client_payload\": $REPORT}'"
        eval ${CMD}
