---
name: Versioning

on:
  repository_dispatch:
    types: trigger-versioning

env:
  PROJ_NAME: "Blazor-SqLite-Golf-Club"

jobs:
  version-and-tag:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:

      - name: Checkout SHA repository
        uses: actions/checkout@v3.5.3
        with:
          ref: ${{ github.event.client_payload.sha }}
          fetch-depth: 0

      - name: Configure git user
        run: |
          git config user.name "CodeApprover"
          git config user.email "pucfada@pm.me"

      - name: Set branch name
        run: |
          trap 'echo "Error on line $LINENO: $BASH_COMMAND"; exit 1' ERR
          branch=$(git branch -r --contains ${{ github.event.client_payload.sha }} | grep 'origin/' | sed 's#origin/##' | head -n 1 | xargs)
          echo "Detected branch: $branch"
          
          if [[ -z "${branch}" ]]; then
            echo "Failed to extract branch name for SHA: ${{ github.event.client_payload.sha }}"
            exit 1 
          fi

          echo "BRANCH_NAME=${branch}" >> $GITHUB_ENV

      - name: Determine next version tag
        run: |
          trap 'echo "Error on line $LINENO: $BASH_COMMAND"; exit 1' ERR
          git fetch --tags

          if [ -z "$(git tag)" ]; then
            echo "No tags found. Exiting."
            exit 1
          fi
          echo "$(git tag)"

          # Get the latest tag based on SemVer -V
          tags=( $(git tag) )

          latest_major=0
          latest_minor=0
          latest_patch=0
          
          for tag in "${tags[@]}"; do
              current_major=$(echo $tag | cut -d. -f1 | sed 's/^v//')
              current_minor=$(echo $tag | cut -d. -f2)
              current_patch=$(echo $tag | cut -d. -f3)
          
              # Check major
              if (( current_major > latest_major )); then
                  latest_major=$current_major
                  latest_minor=$current_minor
                  latest_patch=$current_patch
              elif (( current_major == latest_major )); then
                  # Check minor
                  if (( current_minor > latest_minor )); then
                      latest_minor=$current_minor
                      latest_patch=$current_patch
                  elif (( current_minor == latest_minor )); then
                      # Check patch
                      if (( current_patch > latest_patch )); then
                          latest_patch=$current_patch
                      fi
                  fi
              fi
          done

          latest_tag="v$latest_major.$latest_minor.$latest_patch"
          echo "Latest Tag = $latest_tag"

      - name: Increment SemVer version number
        run: |
          # Strip 'v' and SemVer split
          version=$(echo "$latest_tag" | sed 's/^v//')
          major=$(echo $version  | cut -d. -f1)
          minor=$(echo $version  | cut -d. -f2)
          patch=$(echo $version  | cut -d. -f3)
          
          echo "existing major, minor, patch = $major.$minor.$patch"
          
          # Increment for required environment
          case "${{ env.BRANCH_NAME }}" in
            "code-production")
              major=$((major + 1))
              minor=0
              patch=0
              ;;
            "code-staging")
              minor=$((minor + 1))
              patch=0
              ;;
            "code-development")
              patch=$((patch + 1))
              ;;
          esac
          new_version="v$major.$minor.$patch"
          echo "New version number = $new_version"
          echo "NEW_VERSION=$new_version" >> $GITHUB_ENV

      - name: Tag repository with new version
        run: |
          trap 'echo "Error on line $LINENO: $BASH_COMMAND"; exit 1' ERR
          git tag "${{ env.NEW_VERSION }}"
          git push origin "${{ env.NEW_VERSION }}"

      - name: Release lock
        run: |
          trap 'echo "Error on line $LINENO: $BASH_COMMAND"; exit 1' ERR
          git pull origin "${{ env.BRANCH_NAME }}"
          git rm "${{ env.LOCK_FILE }}"
          git commit -m "Remove lock after versioning"
          git push origin "${{ env.BRANCH_NAME }}"

      - name: Trigger Docker Publish Workflow
        if: success()
        run: |
          CMD="curl -X POST -H \"Authorization: Bearer ${{ secrets.AUTH }}\" "
          CMD+="-H \"Accept: application/vnd.github.v3+json\" "
          CMD+="https://api.github.com/repos/${{ github.repository }}/dispatches "
          CMD+="-d '{\"event_type\": \"trigger-docker-publish\", "
          CMD+="\"client_payload\": {\"sha\": \"${{ github.event.client_payload.sha }}\"}}'"
          eval ${CMD}
