name: .NET Prep

on:
  repository_dispatch:
    types: trigger-dotnet-prep

jobs:
  prepare-dotnet:
    runs-on: ubuntu-latest

    steps:

    - name: Report SHA and Workflow Timestamp
      run: |
        echo "${{ github.event.client_payload.sha }}"
        date

    - name: Checkout Repository
      uses: actions/checkout@v3.5.3

    - name: Retrieve Cached dotnet Dependencies
      id: cache-dotnet-restore
      uses: actions/cache@v3
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-dotnet-${{ github.event.client_payload.branch_name }}
        restore-keys: |
          ${{ runner.os }}-dotnet-

    - name: Restore Dependencies
      if: steps.cache-dotnet-restore.outputs.cache-hit != 'true'
      run: dotnet restore ${{ github.event.client_payload.csproj }}
